.cbp
.cproject
.project
.pydevproject
.settings
.classpath
.classpath-generated
.project-generated
ros.properties
dependencies.xml
cmake_install.cmake
build/
bin/
msg_gen/
srv_gen/
*.pyc
.gradle/
.svn
*.bak
CMakeFiles/
*~
CMakeCache.txt
Makefile.ros
*.swp
*/msg/*Feedback.msg
*/msg/*Goal.msg
*/msg/*Action.msg
*/msg/*Result.msg
*/src/*/cfg
*/src/*/msg
*/src/*/srv
asp_msgs/src/asp_msgs/__init__.py
asp_spatial_reasoning/src/asp_spatial_reasoning/__init__.py
CMakeLists.txt.user
next_best_view_sampling/src/next_best_view_sampling/__init__.py
race_object_search/src/race_object_search/__init__.py
uos_active_perception_msgs/src/uos_active_perception_msgs/__init__.py
