<?xml version="1.0" ?>
<launch>
  <node name="next_best_view_node" pkg="race_next_best_view" type="next_best_view_node" output="screen" respawn="true">
    <!-- camera constraints (fixed kinect on gazebo pr2)-->
    <param name="height_min" type="double" value="1.4756" />
    <param name="height_max" type="double" value="1.4756" />
    <param name="pitch_min"  type="double" value="0.0" /> <!-- [0 deg] -->
    <param name="pitch_max"  type="double" value="0.0" /> <!-- [0 deg] -->
    <param name="range_min"  type="double" value="0.4" />
    <param name="range_max"  type="double" value="3.0" />
    <param name="hfov"       type="double" value="1.01229097" /> <!-- [58 deg] -->
    <param name="vfov"       type="double" value="0.767944871" /> <!-- [44 deg] -->
    <param name="roll"       type="double" value="3.14159265359" /> <!-- [180 deg] -->
    <!-- frames / topics -->
    <param name="world_frame_id" type="string" value="/map" />
    <remap from="cloud_in" to="/head_mount_kinect/depth_registered/points" />
  </node>
</launch>
