<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="false" />
  <arg name="robot_pr2" default="true" />
  
  <include if="$(arg robot_pr2)" file="$(find next_best_view_sampling)/launch/next_best_view_pr2.launch">
    <arg name="sim" value="$(arg sim)" />
  </include>  
  <node name="point_head_continuous" pkg="point_head_continuous" type="point_head_continuous" output="screen" respawn="true" />
</launch>
