<?xml version="1.0" ?>
<launch>
  <node name="pr2_head_monitor" pkg="pr2_head_monitor" type="pr2_head_monitor" output="screen" respawn="true" />
  <node name="object_search_manager" pkg="race_object_search" type="object_search_manager" output="screen" respawn="true">
    <param name="world_frame_id" type="string" value="/map" />
    <param name="acquisition_time"   type="double" value="7.0" />
  </node>
</launch>
